body {
    font-family: Arial, sans-serif;
    background-color: #fdf6f0;
    text-align: center;
}

h1 {
    color: #333;
}

#reloadBtn {
    padding: 10px 20px;
    margin: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

#reloadBtn:hover {
    background-color:green;
}

#userContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 250px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    text-align: left;
}

.user-card h3 {
    margin: 0;
    color: #007BFF;
}
